<div style='margin:50px 20%;float:left;width:25%;box-shadow:0px 0px 10px black;padding:20px;'><img src='https://restcountries.eu/data/can.svg' style='height:250px;width:100%'><h1>Canada</h1><p><em>Population:36155487</em></p><p>Borders: ['USA']</p></div>